<div class="content">
  <mat-card>
    <mat-card-header>
      <h1>Login</h1>
    </mat-card-header>
    <form [formGroup]="form" (submit)="login()">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="userName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>
        <button mat-button [disabled]="form.invalid || loading" type="submit" color="primary">Login</button>

      </mat-card-content>
    </form>
  </mat-card>
</div>
