<ng-container [formGroup]="formGroup">
  <div *ngIf="field.controlType !== 'checkbox'" class="form-field-large">
    <span class="label">{{field.label}}</span>
    <div class="field-content">
      <ng-container *ngIf="field" [ngSwitch]="field.controlType">

        <mat-form-field *ngSwitchCase="'textbox'">
          <input matInput  type="text" (change)="textBoxChange(field)" [attr.maxlength]="field.maxLength"  [(ngModel)]="field.value" [formControlName]="field.name">
        </mat-form-field>

        <mat-button-toggle-group *ngSwitchCase="'toggle'" (change)="toggleChange($event, field)" color="primary"
                                 [formControlName]="field.name">
          <mat-button-toggle *ngFor="let option of field?.options"
                             [value]="option.value">{{option.label}}</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field *ngSwitchCase="'dropdown'">
          <mat-select [(ngModel)]="field.value" (selectionChange)="selectChange($event, field)"
                      [formControlName]="field.name">
            <mat-option *ngFor="let option of field?.options" [value]="getDynamicOptionValue(option)">
              {{getDynamicOptionLabel(option)}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'date'">
          <input matInput [matDatepicker]="picker" (dateChange)="dateFieldChange(field)" [(ngModel)]="field.value" [formControlName]="field.name">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span class="error" *ngIf="showedError() && error()"> {{error()?.message}}</span>
      </ng-container>
    </div>
  </div>

  <div *ngIf="field.controlType==='checkbox'" class="long-checkbox">
    <mat-checkbox [formControlName]="field.name" color="primary">{{field.label}}</mat-checkbox>
    <span class="error" *ngIf="showedError() && error()"> {{error()?.message}}</span>
  </div>

</ng-container>
