
.mat-checkbox-layout {
  white-space: normal !important;
  align-items: flex-start !important;
}

.mat-checkbox-inner-container {
  margin: 4px 10px 0 0 !important;
}

.mat-checkbox-label {
  text-align: justify !important;
}
