@use "_palletes" as p;

app-home-section  .home .about h1 {
  color: p.$primaryHighColor;
}

app-home-section {
  .products{
    background: p.$primaryHighColor;
    color: p.$primaryHighColorContrast;

    .mat-card{
      h1 {
        color: p.$primaryHighColor;
      }
    }
  }
}
